<nav>
<div>British <span>Go</span> Association<div>
</nav>

{% if resource.parents %}
  <div class="breadcrumbs">
    {% for parent in resource.parents %}
      <a href="{{ parent.url }}">{{ parent.title }}</a> &raquo;
    {% endfor %}
    {{ resource.title }}
  </div>
{% endif %}
