<div class="narrow_menu">
  <div class="menu">
    <span>Menu</span>
    <a class="expand" href="#" onclick="expand(event);">+</a>
    <a class="contract" href="#" onclick="contract(event);">-</a>
    <div class="menu0">

      {{ if .Params.index0 }}
        <div class="menuitem0"><a href="/index.html">Home</a></div>
      {{ else }}
        <div class="menuitem0 is_active">Home</div>
      {{ end }}

      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <div class="menuitem0 {{ if eq $currentPage.Params.index0 .Identifier }}is_active{{ end }}">
        {{ if .HasChildren }}
          <a class="expand" href="#" onclick="expand(event);">{{ .Name }} +</a>
          <a class="contract" href="#" onclick="contract(event);">{{ .Name }} -</a>
          <div name="menu" class="menu1">
          {{ range .Children }}
            <div class="menuitem1 {{ if eq $currentPage.Params.index1 .Identifier }}is_active{{ end }}">
            {{ if eq .URL "" }}
              {{ .Name }}
            {{ else }}
              <a href="{{ .URL }}">{{ .Name }}</a>
            {{ end }}
            </div>
          {{ end }}
          </div>
        {{ else }}
          <a href="{{ .URL }}">{{ .Name }}</a>
        {{ end }}

        </div>
      {{ end }}
    </div>
  </div>
</div>
