<div class="wide_menu">
  <div class="menu0">
    {{ if .Params.index0 }}
      <div class="menuitem0"><a href="/index.html">Home</a></div>
    {{ else }}
      <div class="menuitem0 is_active">Home</div>
    {{ end }}

    {{ $currentPage := . }}
    {{ range .Site.Menus.main }}
      <div class="menuitem0 {{ if eq $currentPage.Params.index0 .Identifier }}is_active{{ end }}">
      {{ if eq .URL "" }}
        {{ .Name }}
      {{ else }}
        <a href="{{ .URL }}">{{ .Name }}</a>
      {{ end }}

      {{ if .HasChildren }}
        <table class="menu1">
        {{ range .Children }}
          <tr><td class="menuitem1 {{ if eq $currentPage.Params.index1 .Identifier }}is_active{{ end }}">
          {{ if eq .URL "" }}
            {{ .Name }}
          {{ else }}
            <a href="{{ .URL }}">{{ .Name }}</a>
          {{ end }}
          </td></tr>
        {{ end }}
        </table>
      {{ end }}

      </div>
    {{ end }}
  </div>
</div>
