<!doctype html>
{{ $paginator := .Paginate (where .Site.AllPages "Params.mode" "post").ByDate.Reverse }}
<html lang="en_GB">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="{{ .Layout }}">
    {{ partial "body_top" . }}

    <main>
        <div class="medium_width">
          {{ partial "pagination" $paginator }}
          {{ range $paginator.Pages }}
            <article>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ if .Params.description }}
                    {{ if .Params.description_image }}
                    <img class="description_image"
                         src="{{ .Params.description_image.path }}"
                         alt="{{ .Params.description_image.title }}">
                    {{ end }}
                    <p> {{ .Params.description | markdownify }} </p>
                {{ end }}
            </article>
          {{ end }}
          {{ partial "pagination" $paginator }}
        </div>
    </main>

    {{ partial "footer" . }}
  </body>
</html>
