<!doctype html>
<html lang="en_GB">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="{{ .Layout }}">
    {{ partial "navbar" . }}

    <main>
        <div class="small_width">
          <table>
          {{ range $section := .Params.SectionIndex }}
            <tr><td><a href="section-{{ $section.key }}/index.html">{{ $section.name }}</a></td></tr>
          {{ end }}
          </table>
        </div>

        <div class="big_width">
        {{ .Content }}
        </div>

        <div class="medium_width">
          <h2>Recent posts</h2>
          {{ range first 10 (where .Site.AllPages "Params.mode" "post").ByDate.Reverse }}
            <article>
                <a href="{{ .Permalink }}">{{ .Title }}</a>
                <p> {{ .Params.description }} </p>
            </article>
          {{ end }}

          <a class="black" href="index-posts">All posts</a>
        </div>
    </main>

    {{ partial "footer" . }}
  </body>
</html>
