<!doctype html>
{{ $paginator := .Paginate (where .Site.AllPages "Params.mode" "post").ByDate.Reverse }}
<html lang="en_GB">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="{{ .Layout }}">
    {{ partial "navbar" . }}

    <main>
        <div class="medium_width">
          {{ partial "pagination" $paginator }}
          {{ range $paginator.Pages }}
            <article>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                <p> {{ .Params.description }} </p>
            </article>
          {{ end }}
          {{ partial "pagination" $paginator }}
        </div>
    </main>

    {{ partial "footer" . }}
  </body>
</html>
