<!doctype html>
<html lang="en_GB">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="{{ .Layout }}">
    {{ partial "navbar" . }}

    <main>
        {{ partial "menu" . }}

        <div class="big_width">
        {{ .Content }}
        </div>

        <div class="medium_width">
          <h2>Recent posts</h2>
          {{ range first 10 (where .Site.AllPages "Params.mode" "post").ByDate.Reverse }}
            <article>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                <p> {{ .Params.description }} </p>
            </article>
          {{ end }}

          <a class="black" href="/index-posts/index.html">All posts</a>
        </div>
    </main>

    {{ partial "footer" . }}
  </body>
</html>
