<!doctype html>
<html lang="en_GB">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="{{ .Layout }}">
    {{ partial "body_top" . }}

    <main>
        <div class="medium_width">
          <h2>Posts</h2>
          {{ $posts := where .Site.AllPages "Params.section" .Params.sektion }}
          {{ if ( gt ( len $posts ) 0 ) }}
            {{ $paginator := .Paginate $posts.ByDate.Reverse }}
            {{ partial "pagination" $paginator }}
            {{ range $paginator.Pages }}
              <article>
                 <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ if .Params.description }}
                  {{ if .Params.description_image }}
                  <img class="description_image"
                       src="{{ .Params.description_image.path }}"
                       alt="{{ .Params.description_image.title }}">
                  {{ end }}
                  <p> {{ .Params.description | markdownify }} </p>
                {{ end }}
              </article>
            {{ end }}
            {{ partial "pagination" $paginator }}
          {{ end }}
        </div>
    </main>

    {{ partial "footer" . }}
  </body>
</html>
