<!doctype html>
<html lang="en_GB">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="{{ .Layout }}">
    {{ partial "navbar" . }}

    <main>
        <div class="medium_width">
          <h2>Articles</h2>
          {{ range where (where .Site.AllPages "Params.mode" "article") "Params.section" .Params.section }}
            <article>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </article>
          {{ end }}
        </div>

        {{ $p := where (where .Site.AllPages "Params.mode" "post") "Params.section" .Params.section }}
        {{ if ( gt ( len $p ) 0 ) }}
        <div class="medium_width">
          <h2>Recent posts for {{ .Title }}</h2>
          {{ range first 10 $p.ByDate.Reverse }}
            <article>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                <p> {{ .Params.description }} </p>
            </article>
          {{ end }}

          <a class="black" href="/section-{{ .Params.sections }}-posts/index.html">All posts for {{ .Title }}</a>
        </div>
        {{ end }}
    </main>

    {{ partial "footer" . }}
  </body>
</html>
