<!doctype html>
<html lang="en_GB">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="{{ .Layout }}">
    {{ partial "body_top" . }}

    <main>
        <div class="medium_width">
          <h2>Articles</h2>
          {{ range (where .Site.AllPages.ByTitle "Params.section" .Params.sektion) }}
            <article>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                {{ if .Params.description }}
                    {{ if .Params.description_image }}
                    <img class="description_image"
                         src="{{ .Params.description_image.path }}"
                         alt="{{ .Params.description_image.title }}">
                    {{ end }}
                  <p> {{ .Params.description | markdownify }} </p>
                {{ end }}
            </article>
          {{ end }}
        </div>
    </main>

    {{ partial "footer" . }}
  </body>
</html>
