<!doctype html>
<html lang="en_GB">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="{{ .Layout }}">
    {{ partial "navbar" . }}

    <main>
        {{ partial "menu" . }}

        <div class="medium_width">
          <h2>Articles</h2>
          {{ range where (where .Site.AllPages "Params.mode" "article") "Params.section" .Params.section }}
            <article>
                <a href="{{ .RelPermalink }}">{{ .Title }}</a>
            </article>
          {{ end }}

          {{ $posts := where (where .Site.AllPages "Params.mode" "post") "Params.section" .Params.section }}
          {{ if ( gt ( len $posts ) 0 ) }}
            {{ $paginator := .Paginate $posts.ByDate.Reverse }}
            {{ partial "pagination" $paginator }}
            {{ range $paginator.Pages }}
              <article>
                 <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                 <p> {{ .Params.description }} </p>
              </article>
            {{ end }}
            {{ partial "pagination" $paginator }}
          {{ end }}
        </div>
    </main>

    {{ partial "footer" . }}
  </body>
</html>
