body {background: #DDDDDD; margin: 0px}

nav {font-size: 30px;
     background-image: linear-gradient(#d0d361,#fac703);
     min-height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;
}
nav span {color: red; font-style: italic}

main {display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: center;
}

main>div {margin: 20px;
          padding: 20px;
          border-radius: 10px;
          background: white;
}

title {font-weight: bold; display: flex; font-size: 25px; min-height: 20px;
       align-items: center; justify-content: center}

.page_width {max-width: 75%; min-width: 600px}

.big_width {max-width: 600px; min-width: 400px}

.medium_width {width: 400px}

.medium_width a {font-size: 20px}

.small_width {width: 180px}

.small_width a {font-size: 20px}

.small_width td {padding-bottom: 3px}

.black {color: black}

.breadcrumbs {padding: 5px; font-size: 18px}

.pagination {display: flex; justify-content: center; padding: 10px}

.pagination a {text-decoration: none}

dt {font-weight: bold}

a img {max-height: 100px; object-fit: contain}

.menu0 {display: flex; flex-direction: column; width: 200px; max-width: 200px;
        font-size: 20px}
.menu0 a {font-size: 20px}
.menu1, .menu2 {display: none; padding: 5px}
.menu1 {background: #DDDDDD; z-index: 1}
.menu2 {background: #BBBBBB; z-index: 2}

.is_active, .is_active > a {color: red}
.menuitem0, .menuitem1 {position: relative; white-space: nowrap}

.menuitem0:hover .menu1 {display: flex; flex-direction: column; position: absolute; left: 100px; top: 0px}
.menuitem1:hover .menu2 {display: flex; flex-direction: column; position: absolute; left: 100px; top: 0px}
